matrix:
  include: #allows to set up tests/deploys in different languages/environments.
    - stage: test # groups builds by type, add your tests here
      language: r
      r: bioc-release
      cache: packages
      os: linux
      addons:
        apt:
          packages:
            - g++-6
          sources:
            - ubuntu-toolchain-r-test
      env:
        - MATRIX_EVAL="CXX=g++-6 && CC=gcc-6"
      before_install:
        - eval "${MATRIX_EVAL}"
        - bash configure.sh
        - cat DESCRIPTION
        - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90
        - gcc --version
        - g++ --version
      r_packages:
        - covr
      after_success:
        - Rscript -e 'library(covr); codecov()'
    - stage: deploy # this block builds and deploys the docs, it's in Python.
      language: python
      install:
        - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
        - bash miniconda.sh -b -p $HOME/miniconda
        - export PATH="$HOME/miniconda/bin:$PATH"
        - hash -r
        - conda config --set always_yes yes --set changeps1 no
        - conda update -q conda
        - conda info -a
        - conda create -q -n test-env python=$TRAVIS_PYTHON_VERSION
        - source activate test-env
        - pip install mkdocs==1 mkdocs-material==3.0.3
        - conda install r-knitr r-devtools
        - R -e 'remove.packages(c("curl","httr")); install.packages(c("curl", "httr"), repos="http://cran.us.r-project.org"); Sys.setenv(CURL_CA_BUNDLE="/utils/microsoft-r-open-3.5.0/lib64/R/lib/microsoft-r-cacert.pem")'
        - R -e 'install.packages("Rd2md", repos="http://cran.us.r-project.org")'
        - R -e 'install.packages("Rcpp", repos="http://cran.us.r-project.org")'
        - R -e 'source("https://bioconductor.org/biocLite.R"); biocLite("BiocInstaller"); library(devtools); install_github("compbiocore/qckitfastq",build_vignettes=FALSE)'
      before_script:
        - source activate test-env
      script:
        - mkdir docs
        - Rscript make.R
        - mkdir docs/styles
        - mkdir docs/images
        - curl https://gist.githubusercontent.com/fernandogelin/08ecff3387dffc374c4abf06a577ab71/raw/083a383e51533feb20f3b03e6edcd9e86ddc59f9/dark_mode.css > docs/styles/dark_mode.css
        - curl https://gist.githubusercontent.com/fernandogelin/b02ee98f2f35ce4263093f7a1c66582b/raw/20ca5a37eb6defe00d35e50e7e00a784b64309f9/cbc-logo.svg > docs/images/cbc-logo.svg
        - mkdocs build --verbose --clean --strict
      deploy:
       provider: pages
       skip_cleanup: true
       github_token: $GITHUB_PAT
       local_dir: site
       on:
         branch: master
